<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Send Emails
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="checkAccount()">Check account</ion-button>
  <ion-button expand="full" (click)="captureImage()">Capture image</ion-button>
  <ion-button expand="full" *ngIf="hasAccount" (click)="openEmail()">Open Email</ion-button>
  <ion-card>
    <ion-card-header>Current image</ion-card-header>
    <ion-card-content>
      <img [src]="currentImage" *ngIf="currentImage" />
    </ion-card-content>
  </ion-card>
</ion-content>
